<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs hidden-print panel panel-default affix cohorts-panel">
        <div class="panel-heading">
            <h2 class="panel-title">cohorts.</h2>
        </div>
        <div class="panel-body"
             drop="onDrop($data, $event)"
             drop-effect="copy"
             drop-accept="'json/user-pager-object'"
             drag-over-class="drag-over-accept"
             style="min-height:300px;">
            <div ng-if="user.cohorts.length < 1">
                You have no friends :(
            </div>
            <cohort-item ng-repeat="cohort in user.cohorts"
                         cohort-id="cohort"
                         user-id="user._id"
                         on-cohort-deleted="removeCohort(id)"/>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 message-panel">
        <alert ng-repeat="alert in alerts"
               type="{{alert.type}}"
               close="closeAlert($index)">{{alert.msg}}</alert>

        <h2>Hello!</h2>

        <div ng-controller="MessageCtrl">
            <div message-window
                 window-title="conversation.username"
                 ng-repeat="conversation in conversations track by conversation.target"
                 on-close="closeConversation(conversation)">
                <div class="container">

                    <div class="message-content">
                        <div ng-repeat="message in conversation.messages"
                             class="message"
                             ng-init="getUserMessageInfo(message, conversation)">
                            <img ng-src="{{message.image}}" ng-if="message.image"/>
                            <span class="glyphicon glyphicon-user" ng-if="!message.image"></span>
                            <span ng-bind="message.body"></span>
                        </div>
                    </div>

                </div>
                <typing-notification cohort="conversation.target" user="user._id"></typing-notification>
                <div class="typing-area"
                     contenteditable
                     ng-model="conversation.target"
                     on-enter="sendMessage(text, data)"></div>
            </div>
        </div>
    </div>
</div>

<user-pager selected-users="user.cohorts"></user-pager>
