<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div style="min-height: 500px;">
    <h2>Hello!</h2>
</div>

<div class="bottom well well-sm" ng-if="users">
    <a class="pager-btn pull-left" ng-click="previous()" ng-class="{'disabled': page == 0}">&laquo;</a>
    <a ng-repeat="user in users" class="user-pager-item" title="{{user.username}}">
        <img ng-src="{{user.img}}" ng-init="loadImage(user)" ng-if="user.avatar" />
        <span class="glyphicon glyphicon-user" ng-if="!user.avatar"></span>
    </a>
    <a class="pager-btn pull-right" ng-click="next()" ng-class="{'disabled':!hasNext()}">&raquo;</a>
</div>