<div class="bottom" ng-class="{'well well-sm': users}">
    <a class="pager-btn pull-left" ng-click="previous()" ng-class="{'disabled': page == 0}" ng-show="users">&laquo;</a>
    <a ng-repeat="user in users" class="user-pager-item" title="{{user.username}}">
        <img ng-src="{{user.img}}" ng-init="loadImage(user)" ng-if="user.avatar" />
        <span class="glyphicon glyphicon-user" ng-if="!user.avatar"></span>
    </a>
    <a class="pager-btn pull-right" ng-click="next()" ng-class="{'disabled':!hasNext()}" ng-show="users">&raquo;</a>
</div>