/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    position: relative;
    padding-top: 60px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

a.facebook {
    display:block;
    overflow:hidden;
    height:45px;
    padding:0;
    width:210px;
    background:url(../images/facebook.png) center no-repeat;
}

.welcome {
    color: white;
    margin:10px 0;
}

.welcome span.glyphicon-off {
    margin-left:2px;
}

.glyphicon-white {
    color: #ffffff;
}

.navbar-form {
    margin: 2px 0;
}

.user-pager-item {
    display: inline-block;
    color: rgba(0,0,0,0.3);
    font-size:25px;
    height:25px;
    width:25px;
    margin:0 5px;
    padding:0;
    line-height:25px;
    position: relative;
}

.user-pager-item span,
.user-pager-item img {
    display:block;
    height:25px;
    width:25px;
    margin:0;
    padding:0;
}

.pager-btn {
    height: 25px;
    width: 25px;
    border: 0;
    background: transparent;
    color: black;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}
.pager-btn:hover {
    text-decoration: none;
}
.pager-btn:not(.disabled):active {
    border:1px inset;
    border-radius:5px;
}

.cohorts-panel {
    top:60px;
    left:10px;
    padding:0;
    height:350px;
    z-index:999;
}

.cohorts-panel .panel-body {
    position:relative;
    height:300px;
    overflow:scroll;
}

.cohorts-panel .panel-body .row {
    display:flex;
}

.cohorts-panel .panel-body .row div:first-child {
    align-self: flex-start;
    padding: 5px;
    height: 30px;
    width: 30px;
}

.cohorts-panel .panel-body .row div:first-child img {
    height: 20px;
    width: 20px;
}

.cohorts-panel .panel-body .row div:last-child {
    align-self: flex-end;
    padding: 5px 10px 5px 0;
    width: 40px;
}

.cohorts-panel .panel-body .row div:nth-child(2) {
    flex-grow: 2;
    padding: 5px;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 65%;
}

.message-panel {
    min-height:360px;
    max-height: 500px;
}

.drag-over-accept {
    border:2px dotted #2cec00;
}

.panel-body.drag-over-accept {
    padding:13px;
}

.user-pager-item.selected-user::after {
    /* requires this file included after bootstrap.css */
    font-family: 'Glyphicons Halflings';
    content:"\e013";
    color: #00ff00;
    position: absolute;
    font-size: 15px;
    bottom:-10px;
    right:3px;
}

div[message-window] {
    display:inline-block;
    width:350px;
    height:220px;
    border: 1px solid #adadad;
    border-radius: 6px;
    padding: 0 0 8px 0;
    z-index: 999999;
    background: #ffffff;
    position:absolute;
    overflow:hidden;

    transition-property: height;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    float:left;
}

.message-window.shaded .typing-area {
    display:none;
}

.message-window .title-bar {
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    padding:4px;
    height:32px;
}

.message-window .title-bar button {
    background:none;
    border:none;
}

.message-window .container {
    position: relative;
    padding: 0;
    width: 100%;
    height:100%;
    overflow:hidden;
}

.message-window .contents {
    padding:5px 0;
    margin-bottom:24px;
}

.message-window .message-content {
    width:100%;
    height:150px;
    position:relative;
    overflow-y:scroll;
    display:inline-block;
    padding:0 5px;
}

.message-window .typing-area {
    height:30px;
    width:340px;
    position:absolute;
    left:0;
    bottom:0;
    background:#ffffff;
    border-top:1px solid #e0e0e0;
    overflow-y:scroll;
    margin:5px;
}

.message-window .title-bar button:focus,
.message-window .typing-area:focus {
    outline-width: 0;
    outline:none;
}

.message-window .message {
    border-top: 1px dashed rgba(45, 59, 70, 0.20);
    margin-top:8px;
}

.message-window .message:nth-child(1) {
    border-top:none;
    margin-top:2px;
}

.message-window .message:last-child {
    margin-bottom:10px;
}

.message-window .message img {
    height: 20px;
    width: 20px;
}

@media (min-width: 10px) and (max-width: 979px) {
 body {
     padding-top:60px;
 }
}
