/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    position: relative;
    padding-top: 60px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

a.facebook {
    display:block;
    overflow:hidden;
    height:45px;
    padding:0;
    width:210px;
    background:url(../images/facebook.png) center no-repeat;
}

.welcome {
    color: white;
    margin:10px 0;
}

.welcome span.glyphicon-off {
    margin-left:2px;
}

.glyphicon-white {
    color: #ffffff;
}

.navbar-form {
    margin: 2px 0;
}

@media (min-width: 10px) and (max-width: 979px) {
 body {
     padding-top:60px;
 }
}
