<% include top %>
<h1>Authentication</h1>

<p>
    This site uses <strong>Facebook</strong> to verify your user account. Having a lot of passwords for a lot of different sites can get messy. Reusing the same password on multiple sites is a security risk.
</p>
<p>
    By relying on Facebook, we trust that if you can login to Facebook and Facebook can give us information about who is logged in then we can figure out your user in our system.
</p>
<p>
    Using Facebook for authentication also means that we don't have to store a password for you. It's easy, but most importantly.. it's safe.
</p>
<% include bottom %>